---
import Layout from '../layouts/BlogPost.astro';
import myLogo from '../Logo1.svg';
---

<Layout
	title=<img src={myLogo.src} width="1600" height="900" decoding="async" loading="lazy" alt="logo"/>
	description="Sam Hill Studios"
	pubDate={new Date('May 09 2025')}
>
<!-- -->
	<p>
		Sam Hill Studios is a Colorado-based game development studio creating tactics RPGs.
		Their latest project, Oh How We Are, is set to release in the not-so-distant far away future.
	</p>
	<p>
		For inquiries, contact sam@samhillstudios.com
	</p>
</Layout>
