---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Sam Hill Studios"
	description="About Sam Hill Studios"
	pubDate={new Date('May 09 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Sam Hill Studios is a Colorado-based game development studio creating strategy-tactics RPGs.
		Their latest project, Oh How We Are, is set to release in the not-so-distant far away future.
	</p>
</Layout>
