---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Oh How We Are"
	description="Oh How We Are"
	pubDate={new Date('May 09 2025')}
>
	<p>
		<h4>A NOBLE DEFENSE:</h4>
		As your allies fall to an insurmountable aggresssion,
		take command of over 30 unique characters and
		tens of thousands of soldiers to defend the continent
		from tyranny.
	</p>
	<p>
		<h4>CONQUER AND COMMAND:</h4>
		Assign armies, weapons, armor and more to
		characters and deploy them as a unit to the
		battlefield in turn-based tactical combat. Perform a
		wide range of skills assigned to a unit's character or
		army to tip the scales of battle in your favor, change
		formations in the heat of combat to catch your
		enemy off guard, and defeat an enemy unit's
		commander or army to force their retreat!
		<br><br>
		But be warned, if retreating armies and commanders
		meet, they may rally as a unit and redeploy to the
		battlefield!
	</p>
	<p>
		<h4>NOT FOR GLORY:</h4>
		<i>Rise all men and women, monarchs and lords,
		artisans and merchants, beggars and thieves, for a
		plague has set upon the land. Let your eyes rest
		between the fire and smoke that devours your
		homes and your fields. Let your hands be callused
		against the throat of a spear. Let your ears hear
		nothing but the march of a million souls bound for
		hell and denied any hope. The plague of Salivance
		has been exhumed once more.</i>
	</p>
	<p>
		<h4>A DARK DREAM:</h4>
		Grizzled veteran Captain Yoan of the Kingdom of
		Malist has a difficult path ahead. Emperor Renaude
		of Salivance has launched an invasion against
		Malist's allies, forcing Malist to join the fray. After a
		resounding victory in the Battle of Stolt's Wood at
		the hands of Yoan's leadership, Malist has become
		the first to take any territory from Salivance. For his
		courage and tactical genius (and greatly against his
		wishes), Captain Yoan has been appointed
		commander of all Malist forces. With the entire
		continent watching, can the now Commander Yoan
		of the once-thought insignificant Kingdom of Malist
		defeat the overwhelming (and perhaps inhuman)
		power of the Empire of Salivance? Or will the world
		submit once again to the dark dreams of Emperor
		Renaude?
	</p>
	<p>
		<h4>A SHALLOW LIGHT:</h4>
		Experience a hand-crafted narrative spanning over
		50 chapters through in-game dialogue between a
		diverse cast of characters. Optionally peruse Yoan's
		private and ever-growing collection of poems,
		treatises, and other narratives to further immerse
		yourself in the world and history that surrounds <b>Oh
		How We Are</b>.
	</p>
	<p>
		<h4>WESTWARD TRAVELS:</h4>
		<i>Simple beings with
		<br>Simple things and
		<br>Crippled dreams with
		<br>Broken seams where
		<br>Somewhere seems now
		<br>Nowhere.
		<br>We dream of seas, yet never go there.
		<br>We know there is a way,
		<br>A westward kind of way,
		<br>Where kings and queens
		<br>Can't deem us thieves,
		<br>Where no regime
		<br>Dares to stream us.
		<br>Where no one's scheme
		<br>Can bereave us.
		<br>Oh how we are.
		<br><br>
		<br>Today might be
		<br>The closing scene,
		<br>The hand may fail
		<br>To stand.
		<br>A tapestry
		<br>Once golden gleamed,
		<br>Is merely now
		<br>A strand.
		<br>Their occupancy
		<br>Is make believe,
		<br>A cap that covers command,
		<br>The strap that fastens demand,
		<br>And cannot be taken by man.
		<br>So it's westward
		<br>We will all land.
		<br>Oh how we are.
		<br><br>
		<br>Once I can see
		<br>The land that be,
		<br>I swear it will
		<br>Be done.
		<br>Once I can free
		<br>Myself and thee,
		<br>The land will come
		<br>As one.
		<br>We travel on,
		<br>Westward bound.
		<br>Abyssal cenote,
		<br>Be damned the land
		<br>We'll see the sea now.
		<br>Westward,
		<br>We travel on.
		<br>Oh how we are.</i>
	</p>
</Layout>
