---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Oh How We Are"
	description="Oh How We Are"
	pubDate={new Date('May 09 2025')}
>
	<p>
		<h4>A NOBLE DEFENSE:</h4
		As your allies fall to an insurmountable aggresssion,
		take command of over 30 unique characters and
		tens of thousands of soldiers to defend the continent
		from tyranny.
	</p>
	<p>
		<h4>CONQUER AND COMMAND:</h4>
		Assign armies, weapons, armor and more to
		characters and deploy them as a unit to the
		battlefield in turn-based tactical combat. Perform a
		wide range of skills assigned to a unit&#39;s character or
		army to tip the scales of battle in your favor, change
		formations in the heat of combat to catch your
		enemy off guard, and defeat an enemy unit&#39;s
		commander or army to force their retreat!
	</p>
</Layout>
